<a href="https://colab.research.google.com/github/wlghksx/Daily-BAEKJOON/blob/main/%EB%A7%A4%EC%9D%BC%EB%B0%B1%EC%A4%80_12%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1712번 손익분기점

In [6]:
A,B,C = input().split()
A = int(A)
B = int(B)
C = int(C)

if B>=C :
  print(-1)
else :
  print(int(A/(C-B)+1))

1000 70 170
11

# 2292번 벌집

In [ ]:
'''
n1 = [2,3,4,5,6,7]
n2 = [8,9,10,11,12,13,14,15,16,17,18,19]
n3 = [20,21,22,23,24,25,26,27,28,29,30,31,32,33,33,35,36,37]
n4 = [38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61]
n5 = [62,63,64,65,66,67,68,69,70]

n = int(input())

if n in n1 :
  print(2)
elif n in n2 :
  print(3)
elif n in n3:
  print(4)
elif n in n4:
  print(5)
elif n in n5:
  print(6)
'''

## 
처음에는 주어진 벌집만으로 표기하는 줄 알았는데 
입력값의 범위가 더 넓은 것을 확인하고 규칙을 적용했다.

In [ ]:
n = int(input())

cnt_index = 1
cnt = 1
cnt_plus = 6

while n>cnt :
  cnt_index += 1
  cnt = cnt + cnt_plus
  cnt_plus += 6

print(cnt_index)

# 1193번 분수찾기

In [ ]:
n_start = 2
n = int(input())
cnt = 0

while cnt < n :
  cnt += n_start - 1
  n_start += 1

where = cnt - n # 끝에서 부터 대각선 내 위치
cross_num = n_start -1 # 대각선 숫자 합

if (cross_num%2) == 0:
  print("%d/%d" %((1+where),(cross_num-1-where)))
else :
  print("%d/%d" %((cross_num-1-where),(1+where)))