# 1152번 단어의 개수

In [6]:
s = input()
if s[0] == ' ' and s[-1] == ' ' :
  print(s.count(' ')-1)
elif s[0] == ' ' or s[-1] == ' ' : 
  print(s.count(' '))
else : 
  print(s.count(' ')+1)

Teullinika Teullyeotzi
2

# 더 짧은 방법으로 개선.

In [7]:
n = input().split()
print(len(n))

The Curious Case of Benjamin Button
6

# 2908번 상수

In [13]:
a,b = map(int,input().split())
def change(n) :
  first = str(n)[0]
  last = str(n)[2]
  n = int(first) + int(str(n)[1]) * 10 + int(last) * 100
  return n

a_c = change(a)
b_c = change(b)

lst = [a_c,b_c]

print(max(lst))

734 893
437

In [14]:
a, b = input().split()

a = int(a[::-1]) # 역순으로 읽기
b = int(b[::-1]) 

if a > b : 
    print(a)
else :
    print(b)

734 893
437

# 5622번 다이얼

In [ ]:
s = input()
dial = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
time = 0

for i in s :
  for j in dial :
    if i in j :
      time += (dial.index(j)+3)
print(time)

# 2941번 크로아티아 알파벳

In [ ]:
cro_alpha = ['c=','c-','dz=','d-','lj','nj','s=','z=']
s = input()
for i in cro_alpha :
  s = s.replace(i,'*') # replace는 원변수를 파괴하지 않는 비파괴적 함수이다. 주의
print(len(s))

# 1316번 그룹 단어 체커

In [27]:
n = int(input())
result = n
for i in range(n):
  word = input()
  for j in range(len(word)-1):
    if word[j] == word[j+1] :
      pass
    elif word[j] in word[j+1:] :
      result -= 1
      break
print(result)

3
happy
new
year
3