# 11654번 야스키 코드

In [2]:
a = input()
print(ord(a))

A
65

# 11720번 숫자의 합

In [6]:
num = int(input())
a = input()
sum = 0

for i in range(len(a)) :
  sum += int(a[i])

print(sum)

5
54321
15

# 10809번 알파벳 찾기

In [ ]:
word = input()
alphabet_index = []
for i in range(97,123):
  alphabet_index.append(-1)

for i in range(0,len(word)):
  for j in range(97,123):
    if ord(word[i]) == j :
      if alphabet_index[j-97] == -1 :
        alphabet_index[j-97] = i
      else :
        pass

for i in alphabet_index :
  print(i,end = ' ')

Find 함수 사용 가능!!

In [36]:
word = input()
alphabet_index = []
for i in range(97,123) :
  alphabet_index.append(i)

for i in alphabet_index:
  print(word.find(chr(i)), end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1