<a href="https://colab.research.google.com/github/wlghksx/Daily-BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%EB%B8%8C%EB%A3%A8%ED%8A%B8%ED%8F%AC%EC%8A%A4_210805.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2798번 블랙잭

In [7]:
'''
N,M = map(int,input().split( ))
num_lst = list(map(int,input().split()))

num_lst.sort(reverse= False)

total = 0
count = 0

sum_lst = num_lst[0:3]

for i in range(3,N) :
  for j in sum_lst :
    sum_A = sum(sum_lst)
    sum_lst.remove(j)
    sum_lst.append(num_lst[i])
    sum_B = sum(sum_lst)
    if abs(sum_A-M) < abs(sum_B-M) :
      sum_lst.remove(num_lst[i])
      sum_lst.append(j)


print(sum_lst)
print(sum(sum_lst))
'''

# 오류가 발생한다.... 슬프다...

10 500
93 181 245 214 315 36 185 138 216 295
[93, 214, 185]
492

In [ ]:
n, m = map(int, input().split())
a = list(map(int, input().split()))
b = len(a)
sum = 0
for i in range(0, b - 2):
        for j in range(i + 1, b - 1):
                for k in range(j + 1, b):
                        if a[i] + a[j] + a[k] > m:
                                continue
                        else:
                                sum = max(sum, a[i] + a[j] + a[k])
print(sum)

# 2231번 분해합

In [ ]:
N = int(input())
print_num = 0
for i in range(1, N+1):
    div_num = list(map(int, str(i)))
    sum_num = i + sum(div_num)
    if(sum_num == N):
        print_num = i
        break
print(print_num)