<a href="https://colab.research.google.com/github/wlghksx/Daily-BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80%EB%8B%A8%EA%B3%84%EB%B3%84_%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%99_1_%2C%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%99_2%2C_2839%2C1978%2C2581.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2839번 설탕 배달

In [ ]:
n = int(input())
count = 0
while True :
  if (n%5) == 0 :
    count += (n//5)
    print(count)
    break
  n = n-3
  count += 1
  if n<0:
    print(-1)
    break

In [ ]:
n = int(input())

def sol(N) :
  sum = []
  for i in range(0,N):
    for j in range(0,N):
      if 3*i + 5*j == N :
        sum.append(i+j)
  if not sum:
    print(-1)
  else :
    print(min(sum))
      
sol(n)

7
-1

# 기본 수학 2

## 1978번 소수 찾기

In [ ]:
n = int(input())

num_lst = list(map(int,input().split()))

for i in range(2,1001):
  for j in num_lst :
    if i < j :
      if (j%i) == 0 :
        num_lst.remove(j)

if 1 in num_lst :
  num_lst.remove(1)

print(len(num_lst))

4
1 3 5 7
3

## 2581 소수

In [41]:
M = int(input())
N = int(input())
num_lst = []

for i in range(M,N+1):
  num_lst.append(i)
  for j in range(2,i):
    if i%j == 0 :
      num_lst.remove(i)
      break
if 1 in num_lst :
  num_lst.remove(1)
  
if not num_lst:
  print(-1)
else :
  print(sum(num_lst))
  print(min(num_lst))

1
10
17
2