<a href="https://colab.research.google.com/github/wlghksx/Daily-BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%EC%A0%95%EB%A0%AC_1427.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1427번 소트인사이드

In [5]:
import math

n = int(input())

str_lst = []
for i in str(n) : 
  str_lst.append(i)

num_lst = []
for i in str_lst :
  num_lst.append(int(i))

num_lst.sort(reverse=True)

num = 0

for i in range(1,len(num_lst)) :
  num += num_lst[len(num_lst)-1-i]*math.pow(10,i)
num += num_lst[-1]

print(int(num))

2143
4321

## 성공을 하긴했는데 문제에 비해 코드가 길다고 생각하여 다른 방법을 찾아보았다.

In [7]:
n = int(input())
A=[]
A= list(map(int,str(n)))
A.sort(reverse =True) 

for i in A :
  print(i, end='')

2143
4321

## 차별점
- 우선 map을 통해 수를 형태소별로 구분지어 리스트로 만들 수 있었다.
- 그리고 실제수를 만들어주지 않고도, end를 통해 이어 출력해줌으로써 같은 형식의 수를 만들어 줄 수 있었다.