<a href="https://colab.research.google.com/github/wlghksx/Daily-BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80%EB%8B%A8%EA%B3%84%EB%B3%84_%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%992.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11653번 소인수분해

In [ ]:
'''
def soinsu(n):
  sosu_lst = []
  sosu_lst.append(n)
  num = sosu_lst[-1]
  while True :
    for i in range(2,num+1):
      for j in range(2,num+1):
        if i*j == num :
          sosu_lst.remove(num)
          sosu_lst.append(i,j)
          break
      break

# 실패한 코드 1....

In [ ]:
'''
n = int(input())

def soinsu(n):
  sosu_lst = []
  sosu_lst.append(n)
  before_sosu_lst=[]
  for j in range(n) :
    num = sosu_lst[-1]
    print(before_sosu_lst)
    for i in range(2,num+1):
      if num%i == 0:
        sosu_lst.remove(num)
        sosu_lst.append(i)
        sosu_lst.append(num//i)
        break
    if sosu_lst[-1]

soinsu(n)

# 실패한 코드 2...

72
1
[72]
[]
[2, 36]
[2, 36]

In [ ]:
n = int(input())
i = 2
while n>=2 :
  if n%i == 0 :
    print(i)
    n = n/i
  else :
    i += 1

72
2
2
2
3
3

## 1929번 소수 구하기

In [10]:
'''
M,N = map(int,input().split( ))

num_lst = []

for i in range(M,N+1):
  for j in range(2,i):
    if i%j == 0 :
      break
    elif j == i-1 :
      print(i)

시간초과로 인한 실패한 코드

3 16
3
5
7
11
13

In [12]:
def sosu(n):
  if n == 1 :
    return False
  else :
    for i in range(2,int(n**0.5)+1):
      if n%i == 0 :
        return False
    return True
  
M,N = map(int,input().split())

for i in range(M,N+1):
  if sosu(i):
    print(i)

3 16
3
5
7
11
13